<h1 class="container-fluid">Reservation Page</h1>
<div id="selections">
    <select name="labs" id="lab-selection">
        <option value="" disabled selected>Select Lab</option>
        <option value="Turing Lab">Turing Lab</option>
        <option value="Gosling Lab">Gosling Lab</option>
        <option value="Lovelace Lab">Lovelace Lab</option>
    </select>
    <input type="date" id="date-selection">
    <input type="time" id="time-selection">
    <button id="fetch-seats">Check Availability</button>
</div>
<div class="table-container">
    <table id="table-availability">
        <thead>
            <tr>
                <th>Seats</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>
</div>

<script src="/common/js/reserveFront.js"></script>
