{{> header}}
<br>
<br>
<br>
<h1>Reservation Page (LabTech)</h1>
<div id="selections">
    <datalist id="user-selection">
        <option value="" disabled selected>Search for User</option>
    </datalist>
    <input autocomplete="on" list="user-selection" id="users" placeholder="Enter reservee">
    <select name="labs" id="lab-selection">
        <option value="" disabled selected>Select Lab</option>
        <option value="turing">Turing Lab</option>
        <option value="gosling">Gosling Lab</option>
        <option value="lovelace">Lovelace Lab</option>
    </select>
    <input type="date" id="date-selection">
    <input type="time" id="time-selection">
</div>
<div class="table-container">
    <table id="table-availability">
        <thead>
            <tr>
                <th>Seats</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
    <div class="table-body-container">
        <table>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</div>
<div class="checkbox-container">
    <input type="checkbox" id="anonymous_checker" value="anonymous">
    <label for="anonymous_checker">Reserve Anonymously</label>
</div>
<input type="button" value="Reserve" class="selBtn" id="reserve">

<button class="selBtn" onclick = "reservationStudent()">Student's View of Reservation Page</button>
<!-- Confirmation Popup -->
<div class="overlay" id="overlay"></div>
<div class="confirmation-popup" id="confirmation-popup">
    <p>Are you sure you want to reserve the selected slots?</p>
    <button class="confirm" id="confirm-reserve">Confirm</button>
    <button class="cancel" id="cancel-reserve">Cancel</button>
</div>